<!-- Making the Layout of the admin view -->
<div class="body">

    <!-- Sidebar -->
    <!-- Add your log here -->

    <div class="sidebar">
        <div class="logo flex-center">
            <img width="100px" src="../../../../assets/brand.png" alt="">
        </div>
        <div class="item" routerLinkActive="active" routerLink="user/dashboard">Dashboard</div>
        <div class="item" routerLinkActive="active"  routerLink="user/documents">Documents</div>
        <div class="item sign-out" (click)="signOut()">Sign Out</div> 
    </div>

    <div class="wrapper">
        <!-- Navbar -->
        <div class="navbar"><!-- Loop through array of routes -->
            <div class="items">
                <div class="profile-pic">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRISuukVSb_iHDfPAaDKboFWXZVloJW9XXiwGYFab-QwlAYQ3zFsx4fToY9ijcVNU5ieKk&usqp=CAU" alt="">
                </div>
            </div>
        </div>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>