.separating-div {
    display: flex;
    justify-content: space-between;
}
.item {
    max-width: 50%;
    min-width: 40%;
    
}

.pn {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.flex {
    display: flex;
    margin-bottom: 10px;
    width: 50%;
    justify-content: space-between;
}

table {
    min-width: 600px;
    border:1px solid black;
}
th {
    text-align: start;
}

td {
    border:1px solid black;
}