<p>In this tutorial we are showing a few concepts in javascript and angular!!</p>
<!-- Manipulating data in angular -->

<!-- Binding data to  -->
<p>Binding a single strings value</p>
<hr>
<div class="separating-div">
    <div class="item">
        <div>{{message}}</div>
    </div>
    <div class="item">
        <button (click)="updateString()">Update string</button>
        <input type="text" [value]="object.contentName" (keyup)="onKeyUp($event, 0)"
                    placeholder="Enter a new string value"> <br>
    </div>
</div>
<hr>
<div>Listing items from an array</div>
<div class="separating-div">
    <div class="item">
        <ul *ngFor="let item of stringArray">
            <li>{{item}}</li>
        </ul>
    </div>
    <div class="item">
        <p class="pn">Manipulate the Array</p>
        <div class="flex">
            <button (click)="addToArray('end')">Add To Array - End </button>
            <button (click)="addToArray('removeEnd')">Remove From Array - End </button>
        </div>

        <div class="flex">
            <button (click)="addToArray('start')">Add To Array - Start</button>
            <button (click)="addToArray('removeStart')">Remove from Array - Start</button>
        </div>
        <!-- <button (click)="addToArray("specify")" >Add To Array End</button>  -->
    </div>
</div>
<p>The same can be done for array of Numbers and Objects, but with objects it is slightly more complicated</p>
<hr>

<P>Handling an array of objects</P>
<p>Data that comes from a database comes in Json format, these data is more complex we can loop through and list them in
    a table</p>
<div class="separating-div">
    <div class="item">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Description</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of objectArray; let idx = index">
                    <td>{{item.contentName}}</td>
                    <td>{{item.valueName}}</td>
                    <td>{{item.description}}</td>
                    <td><button (click)="editEvent(item, idx)">Edit</button></td>
                    <td><button (click)="deleteItem(idx)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="item">
        <!-- Showing the input fields that will take in the values and pass it to the array -->
        <div class="flex">
            <button (click)="addItem()">Add to the Object Array</button>
        </div>
        <div class="flex">
            <div>
                <input type="text" [value]="object.contentName" (keyup)="onKeyUp($event, 1)"
                    placeholder="Enter the contentName"> <br>
                <input type="text" [value]="object.valueName" (keyup)="onKeyUp($event, 2)"
                    placeholder="Enter the valueName"> <br>
                <input type="text" [value]="object.description" (keyup)="onKeyUp($event, 3)"
                    placeholder="Enter the description"> <br> <br>
                <!-- Submit Values passed from Input -  -->
                <button *ngIf="!edit" (click)="passFromInputCreate()">Create!!!</button>
                <button *ngIf="edit" (click)="passFromInputEdit(index, object)">Update!!!</button>
            </div>
        </div>
    </div>
</div>
<hr>


<div>View more advanced concepts like filter methods among others <a [routerLink]="['/concepts-advanced']">here</a> </div>